html 
    head 
        title OurServices Page 
        style 
            include ourServices.css 
    body 
    .links 
        a(href='/') Home
        a(href='/ContactUs') contactUs
        a(href='/ourServices') ourServices

.txt
h2 Please fill out the form on the Contact Us page